.word-test {

  &__transposed {
    font-size: 3rem;
    margin: 2rem 1rem;
  }

  &__instructions {
    margin: 2rem 1rem;
    font-size: 1.5rem;
  }

  &__spelling {
    background: #161616;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    color: #bdbdbd;
    font-size: 3rem;
    outline: none;
    padding: .2rem .4rem;
    text-align: center;
  }

}
