* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font: 300 21px/1.3 Helvetica Neue, roboto;
}

body {
  background: #161616;
  color: #bdbdbd;
  display: table;
  padding-top: 6rem;
  margin: -6rem auto 3rem;
}

app-root {
  display: table-cell;
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
  margin: 1rem;
}

.form-field {
  margin: 1rem;

  label {
    padding: 0 .2rem 0 0;
  }
}

input {
  background: #161616;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
  outline: none;
  font: inherit;
  padding: .2rem .4rem;
  text-align: left;
}

button {
  background: #161616;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  outline: none;
  font: inherit;
  padding: .2rem .4rem;

  &:hover,
  &:focus {
    background: #bdbdbd;
    color: #161616;
  }

  &:active {
    background: white;
    color: black;
  }
}
