$dark: #161616;
$light: #bdbdbd;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font: 300 21px/1.3 Helvetica Neue, roboto;
}

body {
  background: $dark;
  color: $light;
  display: table;
  padding-top: 6rem;
  margin: -6rem auto 3rem;
}

app-root {
  display: table-cell;
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
  margin: 1rem;
}

.form-field {
  margin: 1rem;

  label {
    padding: 0 .2rem 0 0;
  }
}

input {
  background: $dark;
  border: none;
  border-bottom: 1px solid $light;
  color: $light;
  outline: none;
  font: inherit;
  padding: .2rem .4rem;
  text-align: left;
}

button {
  background: $dark;
  border: 1px solid $light;
  color: $light;
  outline: none;
  font: inherit;
  padding: .2rem .4rem;

  &:hover,
  &:focus {
    background: $light;
    color: $dark;
  }

  &:active {
    background: white;
    color: black;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: .3rem .6rem;
}

th {
  background: $light;
  color: $dark;
}

tr:nth-child(odd) td {
  background: lighten($dark, 10%);
}
